In [2]:
import pandas as pd

In [3]:
transaction_data_path = "/Users/sankalpapharande/Documents/2nd Semester/Applied ML/AML Project/transactions_train.csv"
transaction_data = pd.read_csv(transaction_data_path)
transaction_data['t_dat'] = transaction_data['t_dat'].astype('datetime64[ns]')
transaction_data = transaction_daH&M Dataset Analysis.ipynbta.sort_values(by=['t_dat'])

## Customer Features

In [7]:
aggregations = {
    't_dat':[('latest_transaction_date','max'), ('visits','nunique'), ('oldest_transaction_date', 'min')],
    'article_id':[('no_unique_items_bought','nunique'), ('total_items_bought','count'),('list_of_items_bought', list)],           
    'price':[('total_monetary_value','sum'), ('max_spent_on_item','max')]
}

In [8]:
customer_features_temp = transaction_data.groupby(by='customer_id').agg(aggregations)
customer_features_temp.columns = customer_features_temp.columns.get_level_values(1)
recent_date = customer_features_temp['latest_transaction_date'].max()
customer_features_temp['recency'] = customer_features_temp['latest_transaction_date'].apply(lambda x: (recent_date - x).days)
customer_features_temp.head()

,latest_transaction_date,visits,oldest_transaction_date,no_unique_items_bought,total_items_bought,list_of_items_bought,total_monetary_value,max_spent_on_item,recency
customer_id,,,,,,,,,
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657,2020-09-05,10,2018-12-27,19,21,"[625548001, 176209023, 627759010, 697138006, 5...",0.648983,0.054220,17
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa,2020-07-08,23,2018-09-21,64,86,"[583558001, 639677008, 640244003, 521269001, 6...",2.601932,0.084729,76
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,2020-09-15,7,2018-09-20,14,18,"[663713001, 541518023, 663713001, 578020002, 3...",0.704780,0.067780,7
00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2c5feb1ca5dff07c43e,2019-06-09,1,2019-06-09,2,2,"[732413001, 742079001]",0.060983,0.030492,471
00006413d8573cd20ed7128e53b7b13819fe5cfc2d801fe7fc0f26dd8d65a85a,2020-08-12,6,2018-10-12,12,13,"[634249005, 677049001, 698286003, 707704003, 3...",0.469695,0.059305,41

In [9]:
customer_features = customer_features_temp.reset_index()
customer_features['span'] = (customer_features['latest_transaction_date'] - customer_features['oldest_transaction_date'])
customer_features['span'] = customer_features['span'].dt.days
customer_features['latency'] = customer_features.apply(lambda x: 0 if x['visits'] <= 1 else x['span']/(x['visits']-1), axis=1)
customer_features = customer_features.drop(columns=['latest_transaction_date', 'oldest_transaction_date', 'span'])
customer_features.head()

,customer_id,visits,no_unique_items_bought,total_items_bought,list_of_items_bought,total_monetary_value,max_spent_on_item,recency,latency
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,10,19,21,"[625548001, 176209023, 627759010, 697138006, 5...",0.648983,0.054220,17,68.666667
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,23,64,86,"[583558001, 639677008, 640244003, 521269001, 6...",2.601932,0.084729,76,29.818182
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,7,14,18,"[663713001, 541518023, 663713001, 578020002, 3...",0.704780,0.067780,7,121.000000
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,1,2,2,"[732413001, 742079001]",0.060983,0.030492,471,0.000000
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,6,12,13,"[634249005, 677049001, 698286003, 707704003, 3...",0.469695,0.059305,41,134.000000

In [10]:
customer_features['avg_bought_per_visit'] = customer_features['total_items_bought']/customer_features['visits']

In [131]:
# required_df = transaction_data.groupby(['customer_id','article_id'], as_index=False)['article_id'].count()\
#          .sort_values(by=['customer_id', 'article_id'])\
#          .drop_duplicates(subset='customer_id', keep='last')
# required_df.columns = ['customer_id', 'most_frequently_bought_item_count']

## Items Information Related features
1. ProductID/Item IDs of the recent transaction
2.  ProductID/Item ID of the most frequently bought item

### article_id and count of the most the recent transaction

In [11]:
recent_transaction = transaction_data[['customer_id', 'article_id', 't_dat']].drop_duplicates()\
                        .sort_values(by=['t_dat'], ascending=False)\
                        .drop_duplicates(subset=['customer_id'], keep='first')

In [12]:
recent_transactio_article_id = recent_transaction.drop(columns=['t_dat']).rename(columns={'article_id':'recent_transaction_article_id'})

In [13]:
recent_transactio_article_id.head()

,customer_id,recent_transaction_article_id
31788323,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003
31788270,ff57364873464edd79e4807350b1cc0902d14f24490e48...,706016003
31788266,ff54fe15368409b7d0d691cdeebe2d6a3fee5178105277...,886566001
31788275,ff5b8a8b26bf93a66290e9bd1b73393ac6a58968a78519...,913597001
31788291,ff94f31e864d9b655643ac4d2adab3611c7241adb5d34c...,901666001

### article_id and count of the most frequently bought item

In [14]:
most_frequently_bought_item = transaction_data.groupby(['customer_id', 'article_id'])['t_dat']\
                                .agg(['count']).reset_index()
most_frequently_bought_item = most_frequently_bought_item.set_index(['customer_id', 'article_id'])

In [15]:
temp1 = transaction_data[['customer_id', 'article_id', 't_dat']].drop_duplicates()
temp1 = temp1.set_index(['customer_id', 'article_id'])

In [16]:
frequently_bought_item_id = most_frequently_bought_item.join(temp1,  on=['customer_id', 'article_id'], how='inner')
frequently_bought_item_id = frequently_bought_item_id.reset_index()
req_df_1 = frequently_bought_item_id.sort_values(by=['t_dat'], ascending=False)\
            .drop_duplicates(subset=['customer_id','article_id'], keep='first')

In [17]:
frequently_bought_item_id_count = req_df_1.loc[req_df_1.groupby(['customer_id'])['count'].idxmax()].reset_index(drop=True)
frequently_bought_item_id_count.head()

,customer_id,article_id,count,t_dat
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,797065001,2,2019-09-28
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,811835004,4,2020-04-22
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,750424014,2,2020-04-18
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,742079001,1,2019-06-09
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,399061015,2,2019-10-09

## Time Features

In [40]:
from datetime import datetime
import calendar

def to_date(dt):
    return dt.day_name()

def to_season(dt):
    month = dt.month
    if(month < 3):
        return 'Winter'
    elif(month < 6):
        return 'Spring'
    elif(month < 9):
        return 'Summer'
    elif(month < 12):
        return 'Fall'
    else:
        return 'Winter'

In [44]:
time_feature_df = transaction_data

In [45]:
time_feature_df['weekday'] = time_feature_df['t_dat'].apply(to_date)
time_feature_df['Season'] = time_feature_df['t_dat'].apply(to_season)

In [49]:
frequent_time_features = time_feature_df.groupby(['customer_id']).agg(lambda x:x.value_counts().index[0])

In [52]:
frequent_time_features.head()

,t_dat,article_id,price,sales_channel_id,weekday,Season
customer_id,,,,,,
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657,2020-03-21,568601006,0.050831,2,Saturday,Spring
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa,2020-04-22,811835004,0.016932,2,Tuesday,Spring
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,2020-04-18,663713001,0.025407,2,Saturday,Spring
00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2c5feb1ca5dff07c43e,2019-06-09,732413001,0.030492,2,Sunday,Summer
00006413d8573cd20ed7128e53b7b13819fe5cfc2d801fe7fc0f26dd8d65a85a,2020-08-12,399061015,0.027102,2,Wednesday,Summer

In [53]:
time_features = frequent_time_features[['weekday', 'Season']]

## Combining All Features

In [54]:
print(customer_features.shape)
print(recent_transactio_article_id.shape)
print(frequently_bought_item_id_count.shape)
print(time_features.shape)

(1362281, 10)
(1362281, 2)
(1362281, 4)
(1362281, 2)

In [55]:
import os
os.getcwd()

'/Users/sankalpapharande/Documents/2nd Semester/Applied ML/AML Project'

In [56]:
customer_features.to_csv("/Users/sankalpapharande/Documents/2nd Semester/Applied ML/Preprocessing/customer_features.csv", header=True)

In [57]:
recent_transactio_article_id.to_csv("/Users/sankalpapharande/Documents/2nd Semester/Applied ML/Preprocessing/recent_transactio_article_id.csv", header=True)

In [58]:
frequently_bought_item_id_count.to_csv("/Users/sankalpapharande/Documents/2nd Semester/Applied ML/Preprocessing/frequently_bought_item_id_count.csv", header=True)

In [59]:
time_features.to_csv("/Users/sankalpapharande/Documents/2nd Semester/Applied ML/Preprocessing/time_features.csv", header=True)

## Glove Embeddings of Item Description

In [60]:
article_data_path = "/Users/sankalpapharande/Documents/2nd Semester/Applied ML/AML Project/articles.csv"
article_data = pd.read_csv(article_data_path)

In [62]:
article_data.shape

(105542, 25)

In [68]:
text_columns = ['prod_name', 'product_type_name', 'product_group_name', 'graphical_appearance_name','colour_group_name',
               'department_name', 'index_name', 'section_name', 'index_group_name','garment_group_name','detail_desc']

In [151]:
processed_df = article_data
for col in text_columns:
    article_data[col] = article_data[col].astype(str)

In [152]:
processed_df['total_text'] = processed_df[text_columns].apply(lambda x: ' '.join(x), axis = 1)

In [153]:
processed_df = processed_df[["article_id", "total_text"]]
processed_df.head()

   article_id                                         total_text
0   108775015  Strap top Vest top Garment Upper body Solid Bl...
1   108775044  Strap top Vest top Garment Upper body Solid Wh...
2   108775051  Strap top (1) Vest top Garment Upper body Stri...
3   110065001  OP T-shirt (Idro) Bra Underwear Solid Black Cl...
4   110065002  OP T-shirt (Idro) Bra Underwear Solid White Cl...

In [154]:
def __get_numbers(str):
    array = re.findall(r'[0-9]+', str)
    return array

In [155]:
import inflect
import re
def __text_filter(s):
    s = s.lower().split()

    regex_repl = {
        r'{{custom_tag_.*}}': "",
        r'{{optout}}': "",
        r"{{voucher}}": "",
        r"{{first_name}}": "",
        r"{{.*}}": "",
        r"\bdon't\b": "do not",
        r"\bdoesn't\b": "does not",
        r"\bdidn't\b": "did not",
        r"\bhasn't\b": "has not",
        r"\bhaven't\b": "have not",
        r"\bhadn't\b": "had not",
        r"\bwon't\b": "will not",
        r"\bwouldn't\b": "would not",
        r"\bcan't\b": "can not",
        r"\bcannot\b": "can not",
        r"\bi'm\b": "i am"
    }

    xx = ""
    for j in s:
        xx += j + " "
    s = xx
    s = s.lower()
    s = re.sub(r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}', ' _ip_ ', s)
    s = re.sub(r'([\'\"\.\(\)\!\?\-\\\/\,])', r' \1 ', s)
    s = re.sub(r'([\;\:\|"«\n])', ' ', s)
    s = s.replace('&', ' and ')
    s = s.replace('+', ' plus ')
    s = s.replace('%', ' percentage ')
    s = s.replace('@', ' at ')

    p = inflect.engine()
    num_arr = __get_numbers(s)

    num_to_words = [p.number_to_words(ele) for ele in num_arr]

    length = len(num_arr)
    for i in range(length):
        s = re.sub(str(num_arr[i]), str(num_to_words[i]), s, 1)

    for reg in regex_repl:
        s = re.sub(reg, regex_repl[reg], s)

    return s

In [156]:
processed_df['processed_description'] = processed_df['total_text'].apply(
            lambda x:list(set(__text_filter(x).split())))

/var/folders/7t/1f4pv0kx5nng3td8527pb8nr0000gn/T/ipykernel_36727/2517941721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processed_df['processed_description'] = processed_df['total_text'].apply(

In [157]:
processed_df.head()

,article_id,total_text,processed_description
0,108775015,Strap top Vest top Garment Upper body Solid Bl...,"[basic, black, upper, body, top, narrow, vest,..."
1,108775044,Strap top Vest top Garment Upper body Solid Wh...,"[basic, upper, body, top, narrow, vest, with, ..."
2,108775051,Strap top (1) Vest top Garment Upper body Stri...,"[basic, upper, body, off, top, narrow, vest, w..."
3,110065001,OP T-shirt (Idro) Bra Underwear Solid Black Cl...,"[-, op, underwear, shape, black, adjustable, p..."
4,110065002,OP T-shirt (Idro) Bra Underwear Solid White Cl...,"[-, op, underwear, shape, adjustable, padded, ..."

In [140]:
import pickle
import numpy as np
glove_embed = {}
glove_path = "/Users/sankalpapharande/Documents/2nd Semester/Applied ML/AML Project/glove.6B.100d.txt"
with open(glove_path, 'rb') as f:
    for line in f:
        values = line.split()
        word = values[0].decode() 
        coefs = np.asarray(values[1:],dtype='float32')
        glove_embed[word] = coefs

In [146]:
def __check_key_glove(key, missing):
    try:
        return glove_embed[key]
    except KeyError:
        missing.add(key)
        return [0.0] * 100

In [158]:
glove_cols = ['glove_vec' + str(i) for i in range(0, 100)]

In [159]:
missing = set()
processed_df['glove_vectors'] = processed_df['processed_description'].apply(
    lambda x: np.mean([__check_key_glove(i, missing) for i in x], axis=0).tolist())
processed_df = processed_df.dropna().reset_index(drop=True)


processed_df[glove_cols] = pd.DataFrame(processed_df['glove_vectors'].values.tolist(),
                                            index=processed_df.index)

/var/folders/7t/1f4pv0kx5nng3td8527pb8nr0000gn/T/ipykernel_36727/2976795876.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processed_df['glove_vectors'] = processed_df['processed_description'].apply(
/var/folders/7t/1f4pv0kx5nng3td8527pb8nr0000gn/T/ipykernel_36727/2976795876.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  processed_df[glove_cols] = pd.DataFrame(processed_df['glove_vectors'].values.tolist(),
/var/folders/7t/1f4pv0kx5nng3td8527pb8nr0000gn/T/ipykernel_36727/2976795876.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  processed_df[glove_cols] = pd.DataFrame(processed_df['glove_vectors'].values.tolist(),

In [160]:
print(list(processed_df[['glove_vectors']].head().iloc[0]))

[[-0.25747910298799215, 0.25922152713725444, 0.13694610721186587, -0.25233183369824763, -0.042728573279945475, 0.13101831500075364, -0.14428915676513784, 0.24319010972976685, -0.13760647658062608, 0.2589836866643868, -0.01461572011344527, -0.23738442219205594, 0.3689913131100567, 0.2880926898827678, 0.19578284711429947, -0.07170833236733942, 0.1345261479237754, -0.09031242210614054, 0.024934946706420498, -0.39535198625373213, 0.0939156818448713, -0.10861342361098841, 0.14963815831824354, -0.12140388323582317, 0.3564305258424659, 0.0646544738035453, -0.09054700265589513, -0.654537729330753, 0.003860424223699068, -0.22343615756223076, 0.10969721033286892, 0.16605152621081, -0.05652905549657972, -0.2094235244746271, 0.0727893682686906, 0.1996846313735372, -0.08253481588326395, 0.3331710492309771, 0.12075826094338768, 0.16361052346856972, 0.02158775913382047, -0.3643606275712189, 0.22259390226712353, -0.2010824774440966, -0.42869398973293993, 0.04989868167199587, 0.06695600089273955, 0.22492247261106968, -0.015248422167803111, -0.23022747314289996, -0.22061618491026916, 0.15981468479884298, -0.10675558114522382, 0.6832756858907247, -0.15513110631390623, -1.4051108859283359, 0.14641342498362064, -0.04163057709995069, 1.2099698974113715, 0.4207679451884408, -0.00986537249072602, 0.40270299405643817, -0.09345542080700397, 0.34210042616254405, 0.20861341921906723, -0.00841884118945975, 0.3881951060734297, 0.011364864479554327, 0.02769015969610528, -0.15582986669859997, 0.013721055498248652, 0.0033778571891353317, 0.08188181712466758, 0.036992264813498446, 0.20634805082686639, 0.22562440278890886, -0.20752310654834696, 0.06749858829732004, -0.051932802938513066, -0.09676571714838869, 0.2622763145911066, 0.18415478734593643, -0.10671589621587803, -0.07870326328434442, -0.6146985727215284, -0.2582277408555934, -0.09817663462538469, 0.015333947970678932, -0.11263205189453929, 0.15998442000464388, -0.02716467911867719, -0.1030604743251675, 0.013882990810088813, -0.020605946743958874, -0.21500899779953456, 0.02664736775975478, -0.23206157923529022, -0.32362189906110106, 0.5769489587921846, 0.14406663287234933]]

In [165]:
article_embedding_df = processed_df[["article_id"] + glove_cols]
article_embedding_df.head()

,article_id,glove_vec0,glove_vec1,glove_vec2,glove_vec3,glove_vec4,glove_vec5,glove_vec6,glove_vec7,glove_vec8,...,glove_vec90,glove_vec91,glove_vec92,glove_vec93,glove_vec94,glove_vec95,glove_vec96,glove_vec97,glove_vec98,glove_vec99
0,108775015,-0.257479,0.259222,0.136946,-0.252332,-0.042729,0.131018,-0.144289,0.243190,-0.137606,...,-0.027165,-0.103060,0.013883,-0.020606,-0.215009,0.026647,-0.232062,-0.323622,0.576949,0.144067
1,108775044,-0.263314,0.246323,0.143036,-0.237211,-0.055771,0.116141,-0.137286,0.251366,-0.134056,...,-0.040971,-0.110950,0.019565,-0.016827,-0.224636,0.025311,-0.231398,-0.318121,0.583604,0.140784
2,108775051,-0.240929,0.239273,0.203272,-0.333558,-0.046959,0.194002,-0.110387,0.294934,-0.147994,...,-0.101759,-0.036776,-0.033154,-0.059253,-0.293986,0.071189,-0.209148,-0.322547,0.592193,0.001066
3,110065001,-0.193816,0.283916,0.103505,-0.277805,-0.057416,0.158771,-0.079976,0.204655,-0.114611,...,-0.058738,-0.023422,0.001523,-0.092026,-0.162977,-0.039970,-0.210677,-0.233202,0.447961,0.058508
4,110065002,-0.195907,0.279292,0.105688,-0.272384,-0.062091,0.153438,-0.077466,0.207586,-0.113338,...,-0.063687,-0.026250,0.003560,-0.090671,-0.166428,-0.040449,-0.210439,-0.231230,0.450347,0.057331

In [166]:
article_embedding_df.to_csv("/Users/sankalpapharande/Documents/2nd Semester/Applied ML/Preprocessing/article_embedding.csv", header=True)

In [167]:
article_embedding_df.shape

(105542, 101)